body {
  text-align: center;
  background-color: #E1BEE7;
}

.titleFont {
  text-align: center;
  font-size: 6rem;
  color: #7B1FA2;
}

h2 {
  color: #E1BEE7;
}
p{

  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

#title {
  text-align: center;
  background-color: white;
}

#body {
  padding-top: 100px;
  text-align: center;
}

.card-deck{
  padding-left: 20px;
  padding-right: 20px;
}


#footer {
  text-align: center;
  color: black;
  padding-top: 100px;
}

.icon {
  color: #7B1FA2;
}

.Copyright {
  color: black;
}
